{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IT{% endblock %}</title>
    <link href="{% static "css/bootstrap.css"%}"  rel="stylesheet" type="text/css" media="all" >
    <link href="{% static "css/bootstrap-responsive.css"%}"  rel="stylesheet" type="text/css"  >
	<link href="{% static "css/jquery.bsmselect.css"%}"  rel="stylesheet" type="text/css"/>
	<link href="{% static "css/print.css" %}" rel="stylesheet" type='text/css' />
    <link href="{% static "css/site.css" %}" rel="stylesheet" type='text/css' />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/bootstrap-markdown.min.css" %}"> 
	<script src="{% static "js/jquery-1.7.2.min.js"%}"></script>
    <script src="{% static "js/jquery.metadata.js"%}"></script>
    
	<script src="{% static "js/jquery.bsmselect.js"%}"></script>
	
	<script src="{% static "js/bootstrap.js"%}"></script>
	{% block  head%}{% endblock %}
	
  </head> 
  <body>

    <div class="container">
      <div class="row">
	  <div class="span12 no-print" style="padding-top:20px;"> 
		{%block menu%}
		<div class="navbar">
		  <div class="navbar-inner">
			<a class="brand" href="/to/">TO</a>
			<ul class="nav">
			  <li {% if tasksmode ==  'all' %}class="active"{% endif %}><a href="/to/tasks/">Служебные записки</a></li>
              <li {% if tasksmode ==  'ceh' %}class="active"{% endif %}><a href="/to/cehtasks/">Задачи подразделения</a></li>
              <li {% if tasksmode ==  'user' %}class="active"{% endif %}><a href="/to/mytasks/">Мои задачи</a></li>
              <li {% block users %}{% endblock %}><a href="/to/users/">Пользователи</a></li>
			</ul>
            
            
            {%block auth%}
            {% if user.auth %}
            <ul class="nav pull-right">
            <li><p class="navbar-text">Пользователь: <b>{{user.username}}</b></p></li>
            <li><a href="/to/login?exit">Выйти</a></li>
            </ul>
            {%else%}
            <ul class="nav pull-right">
            <li>
            <a href="#myLogin" data-toggle="modal">Войти</a>
            </li>
            </ul>
            {%endif%}
            {% endblock %}
            
            <ul class="nav pull-right"><li  {% block about %}{% endblock %}><a href="/to/about/">О системе</a></li></ul>
            
		</div>
		</div>
		{% endblock %}
     </div>
    
    <form action="/to/login" method="post"> 
    <div id="myLogin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Войти</h3>
      </div>
      <div class="modal-body">
             {% if not user.edit %}
             {% csrf_token %}
             <label>Пользователь (как при входе в Windows)</label>
             <input type="text" name="username" value="">
             <label>Пароль (как при входе в Windows)</label>
             <input type="password" name="password" value="">
             {%else%}
             Пользователь: <b>{{user.username}}</b>
             {%endif%}
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            {% if not user.edit %}
             <button type="submit" class="btn btn-primary">Войти</button></p>
             {%else%}
             <a href="/to/login?exit" class="btn btn-primary">Выйти</a>
             {%endif%}
      </div>
    </div>
    </form>

	 {% block content %}{% endblock %}
	 {% block user_form %}{% endblock %}
	 </div>
	</div>
	</div>
	<script type="text/javascript">
    //<![CDATA[
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
        } 

        // Change hash for page-reload
        $('.nav-tabs a').on('shown', function (e) {
            window.location.hash = e.target.hash;
        })
	//]]>
    </script>
	

  </body>
</html>
